form {
    display: grid;
    grid-template-columns: auto 3fr;
    grid-gap: 20px;
}

form label {
    align-self: center;
    justify-self: right;
}

form input {
    align-self: center;
}

form div {
    align-self: center;
}

.cancel {
    float: right;
    margin-top: 10px;
}

iframe {
    border: none;
}
